<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= player_json('o', TicTacToe::Player::HUMAN) %>' />
    <input type="hidden" name="player_2" value='<%= player_json('x', TicTacToe::Player::HUMAN) %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Play First</a>
  </form>
</h1>
<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= player_json('x', TicTacToe::Player::HUMAN) %>' />
    <input type="hidden" name="player_2" value='<%= player_json('o', TicTacToe::Player::COMPUTER) %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Play Secound</a>
  </form>
</h1>
<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= player_json('o', TicTacToe::Player::COMPUTER) %>' />
    <input type="hidden" name="player_2" value='<%= player_json('x', TicTacToe::Player::COMPUTER) %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Computer Game</a>
  </form>
</h1>
