<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::HumanPlayer.new(letter: 'o')).move_json %>' />
    <input type="hidden" name="player_2" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::HumanPlayer.new(letter: 'x')).move_json %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Play First</a>
  </form>
</h1>
<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::HumanPlayer.new(letter: 'x')).move_json %>' />
    <input type="hidden" name="player_2" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::ComputerPlayer.new(letter: 'o')).move_json %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Play Secound</a>
  </form>
</h1>
<h1>
  <form method="post" action="/play">
    <input type="hidden" name="player_1" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::ComputerPlayer.new(letter: 'o')).move_json %>' />
    <input type="hidden" name="player_2" value='<%= TicTacToe::PlayerPresenter.new(TicTacToe::ComputerPlayer.new(letter: 'x')).move_json %>' />
    <input type="hidden" name="board" value='<%= @game.grid.to_json %>' />
    <a href="#" onclick="this.parentElement.submit()">Computer Game</a>
  </form>
</h1>
